<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="NotWorking.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="wrap">
        <div id="wordsearch">
          <ul>
            <li>S</li>
    
            <li>o</li>
    
            <li>r</li>
    
            <li>r</li>
    
            <li>y</li>
    
            <li>x</li>
    
            <li>m</li>
    
            <li>e</li>
    
            <li><strong>S</strong></li>
    
            <li><strong>O</strong></li>
    
            <li><strong>R</strong></li>
    
            <li><strong>R</strong></li>
    
            <li><strong>Y</strong></li>
    
            <li>0</li>
    
            <li>4</li>
    
            <li>y</li>
    
            <li>y</li>
    
            <li>w</li>
    
            <li>v</li>
    
            <li>b</li>
    
            <li>o</li>
    
            <li>q</li>
    
            <li>d</li>
    
            <li>y</li>
    
            <li>p</li>
    
            <li>a</li>
    
            <li class="four">p</li>
    
            <li class="five">a</li>
    
            <li class="six">g</li>
    
            <li class="seven">e</li>
    
            <li>v</li>
    
            <li>j</li>
    
            <li>a</li>
    
            <li>n</li>
    
            <li>o</li>
    
            <li><strong>W</strong></li>
    
            <li><strong>E</strong></li>
    
            <li>c</li>
    
            <li>e</li>
    
            <li>w</li>
    
            <li><strong>A</strong></li>
    
            <li><strong>R</strong></li>
    
            <li><strong>E</strong></li>
    
            <li>p</li>
    
            <li>c</li>
    
            <li>f</li>
    
            <li>h</li>
    
            <li>q</li>
    
            <li>e</li>
    
            <li>c</li>
    
            <li>o</li>
    
            <li>s</li>
    
            <li>d</lis=>
    
            <li>d</liclass=>
    
            <li>s</li>
    
            <li>w</li>
    
            <li>q</li>
    
            <li>v</li>
    
            <li><strong>C</strong></li>
    
            <li><strong>L</strong></li>
    
            <li><strong>O</strong></li>
    
            <li><strong>S</strong></li>
    
            <li><strong>E</strong></li>
    
            <li><strong>D</strong></li>
          </ul>
        </div>
    
        <div id="main-content">
          <h1>Sorry We Are Closed!</h1>
    
          <p> Esse enim perferendis, repellendus ea sequi vero maxime, adipisci laudantium dolor excepturi quis. Explicabo, iste magnam ab incidunt doloribus nisi aliquid vero?</p>
    
          <p> Esse enim perferendis, repellendus ea sequi vero maxime, adipisci laudantium dolor excepturi quis. Explicabo, iste magnam ab incidunt doloribus nisi aliquid vero?</p>

          <div id="navigation">
            <a class="navigation" href="./HomePage.html">Home</a>
            <a class="navigation" href="./OurService.html">Service</a>
            <a class="navigation" href="./ContactUs.html">Contact</a>
          </div>
        </div>
      </div>
</body>
</html>